<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error Page | Datmo</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <div id="error-page">
        <div class="content">
           <h2 class="header" data-text="404">
              404
           </h2>
           <h4 data-text="Opps! Page not found">
              Opps! Page not found
           </h4>
           <p>
              Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
           </p>
           <div class="btns">
              <a href="/">return home</a>
              <a href="/">report problem</a>
           </div>
        </div>
     </div>
</body>
</html>